.swap-container {
  position: relative;
  min-height: 100vh;
}

/* Container for the swap page to enable relative positioning */
.swap-container {
  position: relative;
  min-height: 100vh;
}

.alert {
  max-width: 300px;
  position: absolute;
  bottom: 100px;
  right: 100px;
  padding: 50px;
  z-index: 1000;
}
